body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
}

iframe {
  width: 100%;
  border: none;
  overflow: hidden;
}
